    <!-- Start Slider -->
    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- End Indicators -->

        <!-- Wrapper for Slides -->
        <div class="carousel-inner" id="slideMenu">
            <div class="item active">
                <div class="fill img-responsive" style="background-image:url('images/home01.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Search &amp; Book</h1>
                    <h2 class="hideText">Over 30,000 Vacation Rentals</h2>
                    <p class="MoveUpText"><input type="text" class="moveUp" placeholder="Where do you want to go?"><a href="#"><button class="btn">Go</button>     <button class="btn">Help Me Choose</button></a><p>
                </div>
            </div>
            <div class="item">
                <div class="fill img-responsive" style="background-image:url('images/new_brunswick01.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Search &amp; Book</h1>
                    <h2 class="hideText">Over 30,000 Vacation Rentals</h2>
                    <p class="MoveUpText"><input type="text" class="moveUp" placeholder="Where do you want to go?"><a href="#"><button class="btn">Go</button>     <button class="btn">Help Me Choose</button></a><p>
                </div>
            </div>
            <div class="item">
                <div class="fill img-responsive" style="background-image:url('images/ontario01.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Search &amp; Book</h1>
                    <h2 class="hideText">Over 30,000 Vacation Rentals</h2>
                    <p class="MoveUpText"><input type="text" class="moveUp" placeholder="Where do you want to go?"><a href="#"><button class="btn">Go</button>     <button class="btn">Help Me Choose</button></a></p>
                </div>
            </div>
            <div class="item">
                <div class="fill img-responsive" style="background-image:url('images/manitoba01.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Search &amp; Book</h1>
                    <h2 class="hideText">Over 30,000 Vacation Rentals</h2>
                    <p class="MoveUpText"><input type="text" class="moveUp" placeholder="Where do you want to go?"><a href="#"><button class="btn">Go</button>     <button class="btn">Help Me Choose</button></a><p>
                </div>
            </div>
        </div>
        <!-- End Wrapper for Slides -->
    </div>
    <!-- End Slider -->