a,
a:focus,
a:hover {
  color: #fff;
}
/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
@font-face {
  font-family: "killigrew";
  src: local(killigrew Regular),
    url("./../fonts/killigrew/killig.ttf") format("truetype"),
    url('./../fonts/killig-webfont.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: "killigrew";
  src: local(killigrew Bold),
    url("./../fonts/killigrew/killigs.ttf") format("truetype"),
    url('./../fonts/killigs-webfont.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: local(Montserrat Regular), url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: local(Montserrat Bold), url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}
html {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  min-height: 100%;
  background: url("http://imgur.com/mIXeyzy.jpg") no-repeat bottom center fixed;
  /*background-position: center center;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/* Cover */
.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/* Footer */
.page-footer {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

/* Affix and center */
@media (min-width: 768px) {
  /* Pull out the header and footer */
/*  .masthead {
    position: fixed;
    top: 0;
  }*/
  .page-footer {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  /*.masthead,*/
  .page-footer,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 1000px) {
  /*.masthead,*/
  .page-footer,
  .cover-container {
    width: 700px;
  }
}

/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}
/* footer social icons */
.social-network a.icoFacebook:hover {
  background-color:#3D3C3F;
}
.social-network a.icoInstagram:hover {
  background-color:#3D3C3F;
}
.social-network a.icoLinkedin:hover {
  background-color:#3D3C3F;
}
.social-network a.icoFacebook:hover i, .social-network a.iconstagram:hover i,
.social-network a.icoLinkedin:hover i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
}
.social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a{
 background-color: #D3D3D3;   
}